@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --brown: #DEB887;
    --choclate: #D2691E;
    --light-color: #666;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1 rem rgba(0,0,0,.1);
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: #fff;
}

html::-webkit-scrollbar-thumb{
    background: var(--choclate);
    border-radius: 5rem;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 5rem;
    color: var(--choclate);
}

.heading span{
    color: var(--choclate);
    border-radius: .5rem;
    background: rgba(222, 184, 135, 0.5);
    padding: 0 1.5rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
    background: var(--choclate);
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) ;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover{
    background-color: var(--choclate);
    box-shadow: 0 0 100px (rgba(0, 0, 0, 0.5));
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: rgba(222, 184, 135, 0.5);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 10;
}

.header .logo{
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
}

.header .navbar a{
    margin-left: 2rem;
    font-size: 1.7rem;
    color: #fff;
}

.header .navbar a:hover{
    color: var(--choclate);
}

#menu-btn{
    cursor: pointer;
    color: #fff;
    font-size: 3rem;
    display: none;
}

.home{
    padding-top: 9rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .image{
    flex: 1 1 42rem;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex: 1 1 42rem;
}

.home .content h3{
    color: var(--choclate);
    font-size: 4rem;
    line-height: 1.8;
}

.home .content p{
    color: var(--brown);
    font-size: 2rem;
    line-height: 1.8;
    padding: .5rem 0;
}

.feature .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.feature .box-container .box{
    text-align: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2.5rem;
}

.feature .box-container .box img{
    height: 20rem;
}

.feature .box-container .box h3{
    font-size: 2.3rem;
    color: var(--choclate);
}

.feature .box-container .box p{
    font-size: 1.3rem;
    color: var(--brown);
    padding: 1rem 0;
    line-height: 1.8;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .row .image{
    flex:1 1 45rem;
    padding: 2rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem;
}

.about .row .content .title{
    font-size: 3rem;
    color: var(--choclate);
}

.about .row .content p{
    font-size: 1.5rem;
    color: var(--brown);
    line-height: 1.8;
    padding: 1rem 0;
}

.about .row .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 2rem;
}

.about .row .icons-container .icons{
    flex: 1 1 15rem;
    border-radius: .5rem;
    border: var(--border);
    padding: 1.5rem;
    text-align: center;
    /* cari posisi icon di tengah jika menggunakan tab */
    position: relative;
}

.about .row .icons-container .icons i{
    border-radius: 50%;
    color: var(--choclate);
    background:rgba(222, 184, 135, .3);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
}

.about .row .icons-container .icons h3{
    color: var(--light-color);
    font-size: 1.6rem;
    padding-top: 1rem;
}

.product .box-container .box{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.product .box-container .image{
    flex: 1 1 10rem;
}

.product .box-container .content{
    flex: 1 1 42rem;
}

























/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background:rgba(222, 184, 135, 0.5);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2.5rem 2rem;
        display: block;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

/* css untuk preloader */
/* #preloader{
    background: #fff url(image/loader.gif) no-repeat center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
} */
